-- EXPLORE-308 ┬╖ Cloudflare Stream hardening ΓÇö columna cloudflare_uid
-- Hasta ahora el UID de Cloudflare solo viv├¡a embebido en video_url y el matching
-- se hac├¡a con `video_url LIKE '%uid%'` (fr├ígil, no indexado). Persistimos el UID
-- en su propia columna indexada para correlaci├│n robusta dashboardΓåöDB.

ALTER TABLE videos ADD COLUMN IF NOT EXISTS cloudflare_uid TEXT;

CREATE INDEX IF NOT EXISTS idx_videos_cloudflare_uid
  ON videos (cloudflare_uid)
  WHERE cloudflare_uid IS NOT NULL;

-- Backfill de filas existentes: extrae el UID desde el video_url de videodelivery.net
-- (formato https://videodelivery.net/{uid}/manifest/video.m3u8).
UPDATE videos
SET cloudflare_uid = substring(video_url from 'videodelivery\.net/([^/]+)/')
WHERE cloudflare_uid IS NULL
  AND video_url LIKE '%videodelivery.net%';
