-- EXPLORE-235 ├ù EXPLORE-308 ┬╖ cableado
-- Ahora que videos.cloudflare_uid existe (EXPLORE-308), la limpieza usa esa columna
-- directamente en vez de parsear el UID desde video_url. list_expired_deleted_videos
-- pasa a devolver cloudflare_uid junto al video_url (fallback legacy).
--
-- Cambiar el tipo de retorno exige DROP + recreate (CREATE OR REPLACE no permite
-- cambiar la firma de RETURNS TABLE).

DROP FUNCTION IF EXISTS list_expired_deleted_videos(INT, INT);

CREATE FUNCTION list_expired_deleted_videos(
  p_days INT DEFAULT 30,
  p_limit INT DEFAULT 200
)
RETURNS TABLE (id UUID, video_url TEXT, cloudflare_uid TEXT)
LANGUAGE sql
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT v.id, v.video_url, v.cloudflare_uid
  FROM videos v
  WHERE v.state = 'deleted'
    AND v.deleted_at IS NOT NULL
    AND v.deleted_at <= now() - (GREATEST(p_days, 0) || ' days')::interval
  ORDER BY v.deleted_at ASC
  LIMIT GREATEST(COALESCE(p_limit, 200), 1);
$$;

REVOKE ALL ON FUNCTION list_expired_deleted_videos(INT, INT) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION list_expired_deleted_videos(INT, INT) TO service_role;
